nav{
    background-image: linear-gradient(to right, lightblue, rgb(67, 67, 246), rgb(19, 19, 172)) ;
    width: 100%;
    background-size: cover;
    padding: 20px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex; 
    animation: fade-right 1s ease-in-out forwards;
}
@keyframes fade-right {
    0%{
        opacity: 0;
        transition: translateY(-4rem);
    }
    100%{
        opacity: 1;
        transition: none;
    }
    
}
#link-styling{
    color: white;
    border-bottom:white ;
}
li>a:hover{
    border-bottom: 3px solid white;
    transition: all 0.3s ease-in-out;
    transform: translateX(3px);
}
